<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
<h1 class="aligncenter">Обо мне</h1>
<p class="aligncenter">Меня зовут Денис и мне 24 года. Я на пути становления Backend-разработчиком и уже близок к цели, но впереди ещё много всякого интересного, что предстоит изучить, так же хочется пощупать ИИ</p>
<p class="aligncenter">
<img src="https://gas-kvas.com/grafic/uploads/posts/2023-10/1696415106_gas-kvas-com-p-kartinki-terminator-19.png" width="400">
</p>
<p class="text" >Спасибо за внимание)</p>
<style>
    .text {
    background-color: gray;
    text-align: center;
    }
    .aligncenter {
        text-align: center;
  }
</style>
</body>
</html>