<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1 class="aligncenter">Главная страница</h1>
<p class="aligncenter">Привет, это мой первый сайт на фреймворке Django,
    я ещё пока толком ничего не умею, но активно учусь и прикладываю много усилий</p>
<p class="aligncenter">
<img src="https://avatars.mds.yandex.net/get-mpic/10815509/2a0000018b432a7587cd347f0dff825a2b55/orig"
     alt="Это как бы я)" width="400">
    </p>
<div style="text-align:center">
    <form action="./about">
  <button>Обо мне</button>
        </form>
</div>

<style>
    .aligncenter {
        text-align: center;
  }
</style>
</body>
</html>